<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<!-- Логи пользовательских действий -->
		<target xsi:type="File" name="userActionsFile"
				fileName="logs/user-actions-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${message}${onexception:${newline}${exception:format=ToString}}" />

		<!-- Логи ошибок -->
		<target xsi:type="File" name="errorFile"
				fileName="logs/errors-${shortdate}.log"
				layout="${longdate} | ${level:uppercase=true} | ${message}${onexception:${newline}${exception:format=ToString}}" />
	</targets>

	<rules>
		<logger name="UserActions" minlevel="Info" writeTo="userActionsFile" final="true" />
		<logger name="errorFile" minlevel="Error" writeTo="errorFile" final="true" />

		<!-- Все остальные логи -->
		<logger name="*" minlevel="Info" writeTo="userActionsFile" />
	</rules>
</nlog>